@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Satisfy&display=swap');

:root {
  font-family: Marhey;
  line-height: 5;
  font-weight: 400;

  background-image: linear-gradient(180deg, #ffe4a5, #fff0cc);
}

.title {
  font-size: 80px;
  text-shadow: 1px 5px 7px #106e2e;
  color: #6bb674de;
  border: 20px ;
  background-image: url(../src/assets/pawprint.jpeg);
  /* position: fixed; */
  top: 0;
  width: 100vw;
  min-width: 10vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

a {
  font-weight: 500;
  color: #ffbe64;
  text-decoration: inherit;
  font-family: Satisfy;
  font-size: 30px;
}
a:hover {
  color: #3d7a11;
}

.navigation {
  background-color: #6bb674de;
  width: 100vw;
  min-width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.about-us {
  justify-content: center;
  padding: 50px;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6bb674de;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffbe64;
  border-width: thick;
}

.tab {
  background-color: #ffe4a5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40vw;
  position: absolute;
  opacity: 100%;
  margin-left: auto;
  color: #3d7a11;
  border:#106e2e;
  border-width: 10px;
  overflow: auto;
}

.login {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.lostbtn {
  width: 100px;
}

.foundbtn {
  width: 100px;
}

.lostfound {
  justify-content: center;
}

.formTabs {
  margin: 0;
  padding: 0;
  font-size: 7px;
  flex-direction: row;
}

.credentials {
  position: fixed;
}

/* ---------------------- */
.credentials {
  width:350px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.postLayout {
  /* display: flex;
  align-items: center; */
  margin: 30px auto 0 auto;
  width: 50vw;
  background-color: antiquewhite;
  padding: 30px;
  border: black;
  border-style: solid;
  /* border-radius: 20%; */
}

.alignText {
 display: flex;
 justify-content: center;
 line-height: 3;
 padding: 0;
 margin: 0;
}

.alignImage {
  display: flex;
  margin: 0 auto;
}